html {
    height: 100%;

    & > body {
        height: 100%;
    }
}

fieldset {
    display: grid;
    grid-template-columns: 100%;
}

table, th, td {
    border: 1px solid;
}

#webcam-settings, #keypoint-settings {
    grid-template-columns: 1fr 1fr;
}

#jellron-display {
    margin: 0 auto;

    height: 800px;
    width: 50%;

    & > canvas, & > video {
        position: absolute;
    }

    & > #jellron-video {
        visibility: hidden;
    }

    & > #jellron-keypoint-canvas, & > #jellron-video-canvas {
        transform: scaleX(-1);
    }
}