html {
    height: 100%;

    & > body {
        height: 100%;

        & > main {
            & > canvas, & > video {
                position: absolute;
            }

            & > video {
                width: 50%;
            }
        }
    }
}

fieldset {
    display: grid;
    grid-template-columns: 100%;
}

table, th, td {
    border: 1px solid;
}

#webcam-settings, #keypoint-settings {
    grid-template-columns: 1fr 1fr;
}